<!DOCTYPE html>
<html ng-controller="MainViewController">
    <head>
        <title ng-bind="appTitle"></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="<%= props.description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/ico" href="assets/images/favicon.ico">
		
        <!-- dist:css dist/assets/css/app.min.css -->
		<!-- bower:css -->
		<!-- endbower -->
        <link rel="stylesheet" type="text/css" href="assets/css/app.css" media="screen">
        <!-- /dist -->
		
        <!-- dist:js dist/app.min.js -->
		<!-- bower:js -->
		<!-- endbower -->
        <!-- /dist -->
        <script src="app.bootstrap.js"></script>
    </head>
    
    <body>

    </body>
</html>